{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crime Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>

    </style>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light position-fixed rounded-pill shadow">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Veil Watch</a>
                <button class="navbar-toggler rounded-pill" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-sm btn-outline-success rounded-pill" href="#report"
                                data-bs-toggle="modal" data-bs-target="#reportModal">Report Crime</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>


    <div id="map"></div>
    <button type="button" class="create-report-btn btn btn-sm btn-success rounded-pill" data-bs-toggle="modal"
        data-bs-target="#reportModal">
        Create Report
    </button>

    <div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reportModalLabel">Report a Crime</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="reportForm">
                        <div class="mb-3">
                            <label for="crimeType" class="form-label">Crime Type</label>
                            <select class="form-select" id="crimeType" required>
                                <option value="">Select a crime type</option>
                                <option value="Theft">Theft</option>
                                <option value="Assault">Assault</option>
                                <option value="Fraud">Fraud</option>
                                <option value="Burglary">Burglary</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="area" class="form-label">Area</label>
                            <select class="form-select" id="crimeType" required>
                                <option value="">Select an area</option>
                                <option value="dhaka">Dhaka</option>
                                <option value="chittagong">Chittagong</option>
                                <option value="sylhet">Sylhet</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="address" class="form-label">Addres</label>
                            <input type="text" class="form-control" id="location" placeholder="Enter location" required>
                        </div>
                        <!-- <div class="mb-3">
                                <label for="intensity" class="form-label">Crime Intensity (1-5)</label>
                                <input type="number" class="form-control" id="intensity" min="1" max="5" required>
                            </div> -->
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" id="description" rows="3"
                                placeholder="Provide a brief description"></textarea>
                        </div>
                        <button type="button" class="btn btn-success" id="submitReport">Submit Report</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <button id="locate-btn" class="locate-btn btn btn-sm btn-success rounded-pill">My Location</button>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        const crimeReportsJson = '{{ crime_reports_json|escapejs }}';
        const crimeReports = JSON.parse(crimeReportsJson);
    </script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>